body{
  box-sizing: border-box;
  overflow-x: hidden;/*to treat float style in various dives*/
  margin: 0;
}

nav{
  background:#a5c7ea;
  max-height:85px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bolder;
  text-transform: capitalize;
  user-select: none;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
width:180px;
height: 80px;
  padding-left: 50px;
}
nav .logo img{
 
  height: 100%;
}
nav ul{
  float: right;
  margin-right: 10px;
  list-style: none;
padding:0 35px 0 0 ;
}
nav ul li{
  float: left;
 
  position: relative;

}
nav ul li a{
  color:black;
  line-height: 50px;
  text-decoration: none;
  font-size: 18px;

  
}
.padding{
  padding: 8px 15px;
}
nav ul li a:hover{
  color: black;
  border-radius: 5px;
  box-shadow:  0 0 5px  #004aad,
               0 0 10px #004aad;
 
               
}

.icon,nav input{
  display: none;
}


.exchanger{
  display:flex;
}
.div1, .div2 ,.div3 {
  flex: 1;
  padding:5px;
}

.div4 {
display: flex;
}
.process-container{
  display: flex;
}
.child {
    display: flex;
    flex: 1;
  margin: 10px; /* Optional: Adding padding for visibility */
  }

  .important{
    display: block;
  }

  .result-container{
    display: flex;
    
  }

  .container1{
    border: 1px solid #000;
  }
  .results{
    flex:1;
  }
.arrow{
  display: flex;
  justify-content: center;
  align-items: end;
}


@media all and (max-width: 968px) {
  nav ul{
    margin-top: 0;
    padding-right: 0;
  float:left;
  text-align: center;
 background-color: #a5c7ea;;
  width:100%;
  }
  nav .logo{
   padding-left: 20px;
  width: 140px;
  }
  nav ul{
    display: none;
  }
  nav ul li{
    display: block;
    width: 100%;
  }


  .icon{
    display: block;
    color: black;
    position: absolute;
    top: 10px;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
    transform: scaleX(1.5);
   
  }
 
 
  [id^=btn]:checked + ul{
    display: block;
  }
 
  span.cancel:before{
    content: '\f00d';
  }
  .process-container{
    display: block;
  }
  .last{
    display: block;
  }
 

}

